* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
  font-style: normal;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; 
    color: #FFFFFF; 
    line-height: 1.6;
}


header {
  background-color: #1E1E1E;
  padding: 20px 40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo img {
  max-width: 100%;
  height: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;            
  align-items: center;  
}


.nav-list li {
  margin: 0;
  padding: 0;
}


.nav-list a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: rgba(0, 217, 147, 1);
}


.nav-icons {
  display: flex;
  gap: 15px;
}

.nav-icons button {
  background-color: #000000;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  font-size: 1.1rem;       
  color: #FFFFFF;
}

.nav-icons button:hover {
  background-color: rgba(0, 217, 147, 1);
}


.hero {
  position: relative;
  overflow: hidden;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: brightness(0.5);
}

.hero-text {
  position: relative;  
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: #FFF;
}


.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: rgba(114, 44, 51, 1);
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-button {
    text-decoration: none;
    background-color: rgba(114, 44, 51, 1);
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: rgb(149, 67, 76);
}

.featured-products {
    padding: 40px 20px;
    text-align: center;
    background-image: url('/assets/image/fond-ecran-colore-flou-vif_58702-2940\ -\ copie.png'); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

.featured-products h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
}
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #282828;
    padding: 50px 10px;
    border-radius: 15px; 
}
.products section{
    margin: 20px; 
}
.product-card {
    background-color: #000000; 
    border-radius: 50%; 
    padding: 10px;
    width: 250px;
    height: 250px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: 2px solid #ffffff;
    margin: 20 auto; 
}

.product-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125px;
  height: 125px;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center center;  
  border-radius: 50%;
  /* transition:  5s ease-in-out; */

  /* la magie : */
  animation: spin 7s linear infinite;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.product-card img:hover{
    animation: none;
}
.product-text {
    margin-top: 10px; 
    text-align: center; 
}

.product-text h3 {
    font-size: 1.2rem;
    margin: 5px 0; 
    color: #FFFFFF;
}

.product-text p {
    font-size: 1rem;
    margin: 5px 0;
    color: #CCCCCC;
}

.product-text button {
    margin-top: 10px; 
    background-color: #b91d1d;
    color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9rem;
}

.product-text button:hover {
    background-color: #e03a3a;
}

.about {
    padding: 40px 20px;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgba(0, 217, 147, 1);
}

.about p {
    font-size: 1.2rem;
    color: #CCCCCC;
}

footer {
    background-color: #1E1E1E;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: rgba(0, 217, 147, 1);
}