RewriteEngine On

# Si le fichier ou le répertoire existe, ne rien faire
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, rediriger tout vers index.php
RewriteRule ^ index.php [QSA,L]